@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Kaisei Decol", serif !important;
}

.contenedorCrud {
    background: #f1eeee;
    max-width: 90vw;
    max-height: 90vh;
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: start;
    border-radius: 15px 15px;
}

.navHeader{
    width: 100%;
    background-color: #616060;
    box-shadow: 0 0 20px rgb(63, 62, 62);
    color: white;
    height: 10vh;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contenedorNav{
    width: 100%;
    height: 7vh;
    margin-top: 10px;

}

.dropdownTitle{
    color: rgb(97, 57, 4);
}

.contenedorTabla{
    margin-top: 10px;
    height: 85vh;
    width: 95%;
}

.headerEdit{
    width: 40px;
}

.columnaEdit{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width: 1600px){

    .contenedorCrud {
        background: #f1eeee;
        width: 90vw;
        height: 90vh;
        display: flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 1000px){


    .contenedorCrud {
        background: #f1eeee;
        width: 80vw;
        height: 90vh;
        display: flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedorTabla{
        margin-top: 30px;
        min-width: 100px;
    }

}
@media (max-width: 580px){


    .contenedorCrud {
        background: #f1eeee;
        width: 90vw;
        height: 90vh;
        display: flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedorTabla{
        margin-top: 30px;
        min-width: 100px;
    }

}