@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-bienvenida {
    background: #c9081f;
    min-height: 90vh;
    width: 90%;
    min-width: 300px;
    max-width: 320px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-interior1{
    background: linear-gradient(#c9081f, #690410);
    width: 100%;
    height: 55vh;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-content:space-around;
    flex-direction: column;
}

.divNavegacion{
    width: 100%;
    height: 40px;
}

.navegacion{
    height: 100%;
}

.navegacion button{
    height: 100%;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    margin-left: 20px;
    background-color: #690410;
}

.divEncabezado{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado{
    height: 100%;
    width: 33%;
}

.encabezado div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
}

.encabezado div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.divBienvenida{
    width: 100%;
    height: 90px;
}

.divBienvenida .titulo{
    font-family: "Kaisei Decol", serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

.divBienvenida .subtitulo{
    font-family: "Kaisei Decol", serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

.contenedor-interior2{
    width: 100%;
    height: 35vh;
    border-radius: 0 0 15px 15px;
}

.boton-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border: solid black;
}


.contenedor-interior2 .imagenCampus{
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
}

.contenedor-interior2 .imagenCampus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
}