#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

#sd {
    background: #AC0014;
    height: 97vh;
    width: 36.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    box-shadow: 0 0 25px black;
    position: relative; /* Permite posicionar elementos dentro del div */
}

.circular-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Tamaño inicial del botón */
    height: 150px; /* Tamaño inicial del botón */
}

.circular-button img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.tittle h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

button {
    margin-top: 10px;
}

.WelcomeImg {
    height: 220px;
    width: 498px;
    padding-bottom: 25px;
}

.navegacion-button {
    background-color: transparent;
    border-radius: 50%;
    border-color: #BF9800;
    border-style: solid;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 50px; /* Tamaño inicial del botón */
    height: 50px; /* Tamaño inicial del botón */
}

.navegacion-button img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.div-navegation-button {
    position: absolute; /* Permite posicionar el botón en cualquier parte del div */
    top: 50px; /* Ajusta la distancia desde la parte superior del contenedor principal */
    left: 50px; /* Ajusta la distancia desde la parte izquierda del contenedor principal */
    display: inline-flex;
    align-items: center;
}